# Игнорирование определенного файла
README.md

# Игнорирование папок
.vscode/

#  Игнорирование всех файлов определенного расширения
*.log

# Игнорирование всех файлов с определённым расширением в папке
logs/*.log

*.my-key
